<app-filter [all]="totalProductCount" [inStock]="totalProductInStock" [outOfStock]="totalProductOutOfStock"
(selectedFilterRadioButtonChanged)="onFilterChanged($event)"></app-filter>
<!-- *ngIf="selectedFilterRadioButton==='all' ||product.is_in_inventory.toString()===selectedFilterRadioButton " -->
<div class="ekart--products--container">
   <ng-container  *ngFor="let product of products ; let i=index" >
      <app-product  (click) ="selectedProduct  = product"  *ngIf="searchText===''||product.name.toLowerCase().includes(searchText)"   
      [product]="product"></app-product>
   </ng-container></div>