<div class="ekart--search--product">
    <input class="ekart-search-product-input" #searchInput >  <!-- (input)="searchTextChanged()" --> <!-- [(ngModel)]="searchText" -->  <!-- [value]="searchText" (input)="updateSearchText($event)" -->
    <button class="btn btn-search" (click)="setSearchText()">  <!-- searchInput --> <!-- [ngClass]="{'btn':true, 'btn-search': searchText, 'btn-search-disable':!searchText}"[disabled]="!searchText"  -->
      search
    </button>

</div>
<div class="ekart-search-result-for"><p *ngIf="searchText !=''"><strong>Search result for :</strong> {{searchText}}</p></div>